In [28]:
import pandas as pd
df = pd.read_csv('tennis_data.txt', names = ['S','R','O'], sep='   ')

/var/folders/xt/r947d5fd2yz1_fkptq29sn8r0000gn/T/ipykernel_1401/2075666892.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('tennis_data.txt', names = ['S','R','O'], sep='   ')

In [29]:
df.groupby(['S','R']).mean('O')

            O
S R
0 0  0.538653
  1  0.702576
1 0  0.815443
  1  0.570983